@font-face {
	font-family: 'Humanist521BTWeb';
	src: url('HMN55__W.eot');
	src:
	     url('/fonts/HMN55__W.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/HMN55__W.woff2') format('woff2'),
	     url('/fonts/HMN55__W.woff') format('woff'),
	     url('/fonts/HMN55__W.ttf') format('truetype'),
	     url('/fonts/HMN55__W.svg#Humanist521BTWeb') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Humanist521BTWebLight';
	src: url('HMN45__W.eot');
	src:
	     url('/fonts/HMN45__W.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/HMN45__W.woff2') format('woff2'),
	     url('/fonts/HMN45__W.woff') format('woff'),
	     url('/fonts/HMN45__W.ttf') format('truetype'),
	     url('/fonts/HMN45__W.svg#Humanist521BTWeb-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}


